.wrap {
    margin: 50px auto;
    width: 500px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

h3.title {
    text-align: center;
    margin-bottom: 25px;
}

.createForm {
    margin-bottom: 20px;
    display: flex;
}


