.add {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding:5px;
    height: 40px;
    width: 60px;
    outline: none;
    cursor: pointer;
}

.add:hover {
    background: #000;
    color: #fff;
    transition: all .3s ease-in-out;
}